/**************************************************************/
/* GENERAL DESIGN */
/**************************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
  overflow-wrap: normal;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  background-image: url("./images/pexels-pixabay-301692.jpg");
  background-size: 110%;
  background-position-x: right;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

#largeContainer {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100%;
}

/**************************************************************/
/* RIGHT SIDE (INPUT AND SEARCH) */
/**************************************************************/

#rightContainer {
  border-left: 1px solid whitesmoke;
  padding-bottom: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

h1 {
  color: whitesmoke;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 20px black;
}

form {
  display: flex;
  justify-content: right;
}

input {
  height: 42px;
  text-align: center;
  width: 75%;
  border-radius: 5px;
  margin-right: 20px;
  width: 500px;
}

button {
  height: 42px;
  width: 25%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(172, 49, 49);
  color: white;
}

button:hover {
  background: #d29494;
}

form,
button,
#random {
  font-size: 18px;
  align-items: center;
}

#random {
  margin-top: 30px;
  background-color: rgb(192, 108, 0);
  width: 60%;
  font-size: 18px;
}

#random:hover {
  background: rgb(227, 165, 84);
}

/**************************************************************/
/* LEFT SIDE (RESULTS FROM API) */
/**************************************************************/

#cocktail {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 75px 75px;
  color: whitesmoke;
}

#innerdiv {
  border: 1px solid white;
}

h2,
h3 {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(118, 113, 109, 0.75);
}

#cocktail img {
  width: 50%;
  border: 2px solid whitesmoke;
  display: block;
  margin: auto;
}

#ingredients {
  margin: 0 10%;
  list-style: circle;
}

p {
  background-color: rgba(118, 113, 109, 0.75);
  text-align: left;
  padding: 2%;
  margin: 10px 20px;
}

#noResult {
  margin: 200px 0;
  padding: 10px 20px;
  background-color: rgba(118, 113, 109, 0.75);
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 20px black;
}

/**************************************************************/
/* RESPONSIVENES */
/**************************************************************/

/** LARGER TABLET **/

@media screen and (max-width: 1500px) {
  body {
    background-size: 150%;
  }
}

/** TABLET **/

@media screen and (max-width: 1030px) {
  body {
    background-size: 200%;
  }

  #largeContainer {
    flex-direction: column;
  }

  #rightContainer {
    width: 100%;
    border-left: none;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 56px;
    font-weight: 400;
  }

  form {
    font-size: 20px;
  }

  input {
    margin-right: 25px;
    width: 70%;
  }

  form,
  button,
  #random {
    font-size: 18px;
  }

  #random {
    width: 60%;
  }

  /* TABLET - Left Side */

  #cocktail,
  #noResult {
    width: 100%;
    padding: 45px 0;
  }

  #innerdiv {
    border: none;
    border-top: 1px solid white;
  }

  h2,
  h3 {
    margin: 20px 50px;
    font-size: 30px;
  }

  p {
    margin: 20px 50px;
  }

  #noResult {
    width: 90%;
    margin: 20px 50px;
    font-size: 30px;
  }
}

/** MOBILE PHONE **/

@media screen and (max-width: 700px) {
  body {
    background-size: 350%;
  }

  h1 {
    font-size: 38px;
    font-weight: 400;
  }

  input {
    margin-left: 10px;
    width: 60%;
  }

  #nameSearch {
    padding: 10px 12px 15px 5px;
  }

  form,
  button,
  #random {
    font-size: 14px;
  }

  #random {
    width: 80%;
  }

  /* MOBILE - Left Side */

  #cocktail,
  #noResult {
    width: 100%;
    padding: 45px 0;
  }

  #innerdiv {
    border: none;
    border-top: 1px solid white;
  }

  h2,
  h3,
  #noResult {
    margin: 20px 20px;
  }

  #noResult {
    width: 90%;
    padding: 8px;
  }
}

/** SMALLER MOBILE PHONE **/

@media screen and (max-width: 300px) {
  form,
  button,
  #random {
    font-size: 12px;
  }

  #noResult {
    width: 87%;
    padding: 8px;
  }
}
