/*****************DESIGN: OVERALL*****************/
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("./images/pexels-pixabay-301692.jpg");
    background-size: 110%;
    background-position-x: right;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

#largeContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*****************DESIGN: RIGHT SIDE****************/

#rightContainer {
    border-left: 1px solid whitesmoke;
    margin: 0 2% 0 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 200px 0 30px 30px;
    color: whitesmoke;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    text-shadow: 2px 2px 20px black;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 50px 0 30px;
}

input {
    margin-left: 10px;
    padding: 10px;
    width: 500px;
}

button {
    border: none;
    font-size: 12px;
    padding: 10px 12px 10px 15px;
    background-color: rgb(172, 49, 49);
    color: white;
}

button:active {
    background: #d29494;
}

#bonus {
    display: flex;
    justify-content: right;
    margin: 30px 30px 30px 0;
}

#random {  
    background-color: rgb(192, 108, 0);
    width: 60%;
    font-size: 18px;
}

#random:active {
    background: rgb(227, 165, 84);
}

/******************DESIGN: LEFT SIDE*******************/

#cocktail {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 75px 75px;
    color: whitesmoke;
}

#innerdiv {
       border: 1px solid white;
}

h2, h3 {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(118, 113, 109, 0.75);
}

#cocktail img {
    width: 50%;
    border: 2px solid whitesmoke;
    display: block;
    margin: auto;
    }

#ingredients {
    margin: 0 10%;
    list-style: circle;
}

p {
    background-color: rgba(118, 113, 109, 0.75);
    text-align: left;
    padding: 2%;
    margin: 10px 20px;
}

#noResult {
    margin: 200px 0;
    padding: 10px 20px;
    background-color: rgba(118, 113, 109, 0.75);
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-shadow: 2px 2px 20px black;
}

/******************RESPONSIVENESS*******************/

/******************LARGE SCREEN********************/

@media screen and (min-width: 1550px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 390%;
        margin: 200px 0 30px 80px;
    }

    form {
        align-items: start;
        margin: 0 50px 0 60px;
    }

    #nameSearch {
        font-size: 16px;
    }

    #cocktail {
        padding: 50px 75px;
    }

}

/********************MOBILE PHONE*****************/

@media screen and (max-width: 700px) {

    body {
        background-size: 350%;
    }
    
    #largeContainer {
        flex-direction: column;
        justify-content: space-between;
    }
    
 /**MOBILE Search Section**/

    #rightContainer {
        width: 100%;
        border-left: none;
    }
    
    h1 {
        margin: 20px 10px 30px 20px;
        font-size: 35px;
        font-weight: 400;
    }
    
    form {
        margin: 0 8px;
        justify-content: space-around;
    }
    
    input {  
        font-size: 12px;
        margin-left: 10px;
        width: 60%;
    }

    #nameSearch {
        font-size: 12px;
        padding: 10px 12px 15px 5px;
    }

    #bonus {
        margin: 30px 0;
        flex-direction: row !important;
        justify-content: center;
    }
    
    #random {
        width: 80%;
        font-size: 18px;
    }

/**MOBILE Cocktail Section**/

    #cocktail, #noResult {
        width: 100%;
        padding: 45px 0;
    }

    #innerdiv {
        border: none;
        border-top: 1px solid white;
    }

    #bonus {
        display: flex;
        flex-direction: column;
    }

    h2, h3, #noResult {
        margin: 20px 20px;
    }

    #noResult {
        width: 90%;
        padding: 8px;
    }

    }



    /********************Teensy Mobile*******************/

    @media screen and (max-width: 300px) {
           form {
        font-size: 12px;
    } 

    #noResult {
        width: 87%;
        padding: 8px;
    }

    }

    /********************Big honkin tablet*******************/

    @media screen and (max-width: 1250px) and (min-width: 1031px) {

        body {
            background-size: 150%;
        }
    }

/********************Tablet*******************/

    @media screen and (max-width: 1030px) and (min-width: 701px) {

        body {
            background-size: 200%;
        }
        
        #largeContainer {
            flex-direction: column;
            justify-content: space-between;
        }
        
     /**TABLET Search Section**/
    
        #rightContainer {
            width: 100%;
            border-left: none;
        }
        
        h1 {
            margin: 20px 10px 30px 40px;
            font-size: 65px;
            font-weight: 400;
        }
        
        form {
            margin: 0 15px;
            font-size: 20px;
            justify-content: space-around;
        }
        
        input {  
            margin-left: 0;
            width: 60%;
        }
    
        button {
            padding: 15px;
        }

        #bonus {
            display: flex;
            justify-content: right;
            margin: 30px 30px 30px 0;
        }
        
        #random {  
            background-color: rgb(192, 108, 0);
            width: 60%;
            font-size: 18px;
        }
    
    /**TABLET Cocktail Section**/
    
        #cocktail, #noResult {
            width: 100%;
            padding: 45px 0;
        }
    
        #innerdiv {
            border: none;
            border-top: 1px solid white;
        }
    
        h2, h3 {
            margin: 20px 50px;
            font-size: 30px;
        }

        p {
            margin: 20px 50px;
        }
        
        #noResult {
            width: 90%;
            margin: 20px 50px;
            font-size: 30px;
        }

        }
    