/*****************OVERALL STYLE***********************/
* {
    box-sizing: border-box;
    border: 1px solid white;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("./images/pexels-pixabay-301692.jpg");
    background-size: contain;
}

#largeContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*****************LEFT SIDE***********************/

#leftContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 30% 10% 5% 10%;
    color: white;
}

form {
    display: flex;
    justify-content: space-around;
    padding: 0 5%; 
}

button {
    border: none;
    background-color: brown;
    color: white;
}



/******************RIGHT SIDE***********************/

#cocktail {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 5%; 
    background-color: rgba(118, 113, 109, 0.75);
    color: whitesmoke;
}

#cocktail h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cocktail img {
    width: 50%;
    display: block;
    margin: auto;
    }

